<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d{HH:mm:ss} [%C{1}.%M] %m%n" />
		</Console>
		<RollingFile name="rollingfile"
			fileName="C:/Users/Disco/workspace_egov/log/app.log" filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p [%c] %m%n" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<Async name="async">
			<AppenderRef ref="rollingfile" />
		</Async>
	</Appenders>
	<Loggers>
		<!-- <Logger name="com.github.koraktor.steamcondenser" level="error" additivity="false">
			<AppenderRef ref="console" />
		</Logger> -->
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
