<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	<display-name>Sangah Pmis Solution</display-name>
	<description>Copyright (C) Sangah Management Consulting Co.,Ltd. All rights reserved.</description>

	<!-- spring config start -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring/context-*.xml
			classpath*:spring/deprecated/spring-*.xml
			classpath*:egovframework/spring/com/context-*.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<!-- spring config end -->
	
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- CHARACTER ENCODING FILTER -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- SPRING SECURITY FILTER -->
	<filter>
		<filter-name>security</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>springSecurityFilterChain</param-value>
			<!-- <param-value>securityFilterChain</param-value> custom sangah chain -->
		</init-param>
	</filter>
	
	<!-- STRUTS FILTER -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
             <param-name>struts.i18n.encoding</param-name>
             <param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- MENU AUTHORIZATION FILTER -->
	<filter>
        <filter-name>menuAuthorization</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
	
	<!-- [NOTE] The order of the filter-mapping is important! -->
	<filter-mapping> 
		<filter-name>encodingFilter</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>security</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>menuAuthorization</filter-name>
		<url-pattern>*.action</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<!--  
	<context-param>
		<param-name>sql-config</param-name>
		<param-value>config/sql/sqlmap_config.xml</param-value>
	</context-param>
	-->
	
	<!--========== Define Session Timeout ==========-->
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>

	<!--========== Define Welcome file list ==========-->
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	
	<!--========== Define Resource Reference ==========-->
	<resource-ref>
		<description>Oracle Development Datasource</description>
		<res-ref-name>jdbc/DefaultDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<!--<res-sharing-scope>Shareable</res-sharing-scope>-->
	</resource-ref>	
	<!--========== Define Security Constraint: Inaccessable JSP files on web ==========-->
<!--
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>PreventViewingJSPs</web-resource-name>
			<description>Inaccessable JSP files on web</description>
			<url-pattern>*.jsp</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name></role-name>
		</auth-constraint>
	</security-constraint>
-->
	
	<servlet>
		<display-name>thumbnailConvert</display-name>
    	<servlet-name>thumbnailConvert</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>thumbnailConvert</servlet-name>
		<url-pattern>/Thumb</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/spring-*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>spring-ws</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>transformWsdlLocations</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-ws</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	
	<mime-mapping>
		<extension>appcache</extension>
		<mime-type>text/cache-manifest</mime-type>
	</mime-mapping>
	
</web-app>